.techfont{
  font-family: Raleway, Sen;
  font-size: 1.5em;
  margin-bottom: 10px;
}

body {
  background-color:powderblue; 
}

.bigbrand{
  font-size: 1.5em;
}

.centerstage{
  margin-left: auto;
  margin-right: auto;
}

.detail-container{
  margin-left: auto;
  background-color:white;
  border-style: solid;
  border-color: gray;
  border-radius: 10px;
  border-width: 1px;
  padding: 10px;
  width: 130%;
  margin-bottom: 20px;
  margin-left: 80px;
}

#over img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 50%;
  
}

.postdate{
  text-align:center;

}

.posttitle{
  font-family: Raleway, Sen;
  font-size: 3em;
  text-align: center;
}

.postcontent{
  font-family: Sen;
  font-size: 1.5em;

  
}

.btn-comment{
  position: absolute;
  right: 0px;
}

.post{
  border-style: solid;
  border-color: gray;
  border-radius: 10px;
  border-width: 1px;
  padding: 10px;
  width: 130%;
  margin-bottom: 20px;
  margin-left: 80px;
  background-color:white;
}

